/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: green;
}

h1 {
  font-style: italic;
}

.row1 {
  length: 300px;
}
#main {
  margin: auto;
  width: 75%;
  height: 500;
  border: 3px solid green;
  padding: 10px;
  text-align:center
}