/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #42f545;
}

.row1 {
  length: 300px;
    background-color: #42f545;
}
