/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: green;
}

h1 {
  font-style: italic;
}

.row1 {
  length: 300px;
}
#main {
  width: 33%;
  height:100%;
  position: center;
}