body {
  
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
  font-weight: normal;
  margin: auto;
  width: 70%;
  height: 500;
  border: 3px solid green;
  padding: 10px;
  text-align:center;
}
.WIP {
  tex
}
.calculator-grid > button {
  font-size: 2rem;
  border: 1px solid black;
  outline: none;
  background-color: #CADB00;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: grey;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap:break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: white;
  font-size:1.5rem;
}
.output .current-operand {
  color: black;
  font-size:1.5rem;
}